000Test/NewWSDL65123789456456867456File.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDL65123789456456867456File/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDL65123789456456867456File" targetNamespace="http://www.example.org/NewWSDL65123789456456867456File/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/NewWSDL65123789456456867456File/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
                        <xsd:element name="in" type="xsd:int" />
                        <xsd:element name="in1" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
            <xsd:complexType name="inType"></xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDL65123789456456867456File">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDL65123789456456867456FileSOAP" type="tns:NewWSDL65123789456456867456File">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewWSDL65123789456456867456File/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDL65123789456456867456File">
    <wsdl:port binding="tns:NewWSDL65123789456456867456FileSOAP" name="NewWSDL65123789456456867456FileSOAP">
      <soap:address location="http://localhost:7800/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
